* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background:hsl(233, 47%, 7%);
    display:flex;
    justify-content: center; 
    min-height:100vh;
    align-items: center;
   
    

}
h1 {
    font-family:'Inter', sans-serif;
    font-weight:700;
}
h2 {
    font-family:'Inter', sans-serif;
    font-weight:400;
}
p {
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
}
/* Card layout */
.card {
    display:flex;
    border-radius:10px;
    overflow:hidden;
    max-width:1000px;
    flex-direction: row-reverse;
    margin:100px 10px;
     
}
.image-section  {
   width:50%;
   position:relative;
   overflow:hidden;
     
}

.image-section img {
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(277, 64%, 61%);
  opacity: 0.6;
}
    

}
/* Text section */
.text-section {
    padding:60px;
    color:hsl(0, 0%, 100%);
    width:50%;    
}


.text-section h1 span {
    color:hsl(277, 64%, 61%);
}

.text-section p {
    font-family:'Lexend Deca', sans-serif;
    font-size:1rem;
    line-height:1.5;
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom:60px;
}

.stats {
    display:flex;
    justify-content: space-between;
   
}


.stat h2 {
    font-family:'Inter', sans-serif;
    font-size:1.5rem;
    font-weight:700;
    margin-bottom:8px;
}

.stat p {
    font-family:'Lexend Deca', sans-serif;
    font-size:0.8rem;
    color:hsla(0, 0%, 100%, 0.6);
    
}
/* Responsive design */
@media (max-width:768px) {
    .card {
        flex-direction: column;
        text-align:center;
        width:80%;
        
    }

    .image-section {
        width:100%;
        border-radius:10px 10px 0 0;
      
     
    }
    .text-section {
        width:100%;
       
    }
    .stats {
        flex-direction: column;
         align-items: center;
         gap:24px;
        
    }
    
}

.attribution {
    display:none;
}
